body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    
    
    margin: 0 auto;
  }

footer {
    color: white;
    background-color: #dc3545;
    padding-top: 3em;
    position: absolute;
    bottom: 0;
    width: 100%;
  }